body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
}

header {
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #007bff;
}

table {
    width: 100%;
    margin-top: 11px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
}
